@font-face {
    font-family: FlyingBird;
    src: url("./FlyingBird-Yz9Ga.otf");
}


#progress,.btn.bs
{
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color:white;
}


.btn.bs:hover
{
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);  
    box-shadow: 10px 5px 5px var(--bs-gray-dark);
    color:white;
}

.btn.bs:disabled
{
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);  
        
}



.progress.bs
{
    height: 40px;
    margin-bottom: 2mm;
    background-color:rgba(102,75,100,0.9);

}



.container {
    width:90%;
    height: 100%;
    margin-left: 5%;
    background-color:rgba(102,75,100,0.9);

}

.status
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}


iframe {
    visibility : hidden;
  }

h1 {
    color:white;
    font-family: FlyingBird;
}

.answer
{
    height: 240px;
    width: 100%;
    overflow: hidden;
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}

label
{
    color:white;
   
}

.answer img
{
    max-height: 240px;
    display: block;
    width: auto;
    height: 240px;
    float: left;
    margin-right: 10px;
}

.row.admin
{
    margin-top: 15px;
}